@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --very-pale-orange: #fff5ec;
  --pale-orange: #fde5d8;
  --orange: #f3712b93;
  --deep-orange: #f3712b;
  --deepest-orange: #f26418;
  --almost-white: #fff8f1;
  --pure-white: #ffffff;
  --alomost-black: #242323;
  --container-border: 3px solid var(--pale-orange);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--very-pale-orange);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: var(--very-pale-orange);
  border: var(--container-border);
  width: 30rem;
  height: 30rem;
  border-radius: 15px;
  color: var(--orange);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: inherit;
}

.container span {
  text-align: center;
  margin: 3rem 0 3rem;
}

.container span h1{
    font-weight: 400;
    font-size: 1.7rem;
}

.container .add-note--icon {
  font-size: 8rem;
  border: 0.8rem solid;
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease;
}

.add-note--icon:hover{
    color: var(--deep-orange);
    transform: scale(1.1);
    background-color: var(--pale-orange);
}

.add-note--icon i{
    width: 102px;
}

/* Add note Forms */
.add-note--form{
    background-color: var(--almost-white);
    border: var(--container-border);
    width: 20rem;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    display: none;
}

.add-note--form.show-modal{
    display: block !important;
    position: absolute;
    top: 0;
    left: 50%;
    /* margin: auto; */
    transform: translate(-50%, 15%);
}

.add-note--form .note-header--container{
    display: flex;
    flex-direction: column;
}

.add-note--form .label-and-char--count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--deepest-orange);
    margin-bottom: .5rem;
}

.note-header--container label{
    font-size: 1.2rem;
}

.note-header--container input{
    padding: .4rem .5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: inherit;
    background-color: var(--almost-white);
    border: 2px solid var(--pale-orange);
    border-radius: 3px;
    transition: .3s ease;
    margin-bottom: 2rem;
}

.note-header--container input:focus{
    outline: red;
    border: 2px solid var(--orange);
}

.note-textarea-container textarea{
    width: 100% !important;
    resize: none;
    border: 2px solid var(--pale-orange);
    background-color: var(--almost-white);
    font-size: 1.2rem;
    font-family: inherit;
    text-transform: capitalize;
    padding: .3rem .5rem;
    transition: .3s ease;
    border-radius: 3px;
    box-sizing: border-box;
}

.note-textarea-container textarea:focus{
    outline: red;
    border: 2px solid var(--orange);
}

.save-and-delete--btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.save-and-delete--btns .save-btn{
    background-color: var(--deep-orange);
    border: none;
    padding: .6rem 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: inherit;
    color: var(--almost-white);
    text-transform: capitalize;
    border-radius: 5px;
    transition: .3s ease;
    cursor: pointer;
}

.save-and-delete--btns .save-btn:hover{
    background-color: var(--deepest-orange);
}

.save-and-delete--btns .delete-btn{
    background-color: inherit;
    border: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--deep-orange);
    cursor: pointer;
    font-weight: 400;
    font-family: inherit;
}