@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --very-pale-orange: #fff5ec;
  --pale-orange: #fde5d8;
  --orange: #f3712b93;
  --deep-orange: #f3712b;
  --deepest-orange: #f26418;
  --almost-white: #fff8f1;
  --pure-white: #ffffff;
  --alomost-black: #242323;
  --container-border: 3px solid var(--pale-orange);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: var(--very-pale-orange);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  background-color: var(--very-pale-orange);
  border: var(--container-border);
  height: 30rem;
  border-radius: 15px;
  color: var(--orange);
  overflow-y: auto;
    padding: 0 13px;
    position: relative;
}

.main-container::before {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    height: 1rem;
    width: 100%;
    background-color: inherit;
}

.main-container .add-note-container{
    margin: auto;
    width: inherit;
    height: inherit;
}

main .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: inherit;
}

.container span {
  text-align: center;
  margin: 3rem 0 3rem;
}

.container span h1 {
  font-weight: 400;
  font-size: 1.7rem;
}

.container .add-note--icon {
  font-size: 8rem;
  border: 0.8rem solid;
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-note--icon:hover {
  color: var(--deep-orange);
  transform: scale(1.1);
  background-color: var(--pale-orange);
}

.add-note--icon i {
  width: 102px;
}

.main-container .notes-list{
    display: none;
}

/* New note grid */
.notes-list-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.notes-list-container li{
    background-color: var(--very-pale-orange);
    border: .2rem solid var(--pale-orange);
    height: 10rem;
    width: 7.2rem;
    padding: 0.8rem;
}

.notes-list-container .add-new-note{
    position: sticky;
    top: 1rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.add-new-note h3{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #fd9055;
    margin-bottom: .5rem;
}

.add-new-note button{
    background-color: inherit;
     border: .2rem solid #faa272;
     width: 5rem;
     height: 5rem;
     border-radius: 50%;
     color: #faa272;
     cursor: pointer;
     transition: .3s ease;
}

.add-new-note button:hover{
  color: var(--deep-orange);
  transform: scale(1.1);
  background-color: var(--pale-orange);
}

.add-new-note button i{
    font-size: 3rem;
    width: 40px;
}

/* Note  h2 and p*/
.notes-list-container li h2{
    color: var(--deepest-orange);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    padding: 0 0 0.4rem 0;
    width: fit-content;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    display: -webkit-box;
    height: 28px;
    overflow: hidden;
    word-break: break-word;
}

.notes-list-container li h2::before{
    content: '';
    width: 50%;
    height: 5px;
    background-color: var(--deepest-orange);
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.notes-list-container li p{
    font-size: 1.1rem;
    width: fit-content;
    word-wrap: break-word;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
    display: -webkit-box;
    height: 7rem;
    overflow: hidden;
    word-break: break-word;
    padding: 0.6rem 0;
}

.notes-list-container li .btns-main-container{
    display: none;
}

.note-list{
    transition: .3s ease;
}

.note-list:hover {
    border: var(--deep-orange) solid;
    transform: scale(1.04);
}

.note-list:hover .btns-main-container{
    display: block;
}

.notes-list-container li .btns-container{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Add note Forms */
.add-note--form {
  background-color: var(--almost-white);
  border: var(--container-border);
  width: 20rem;
  padding: 1.5rem 2rem;
  border-radius: 15px;
  display: none;
}

.add-note--form.show-modal {
  display: block !important;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 15%);
}

.add-note--form .note-header--container {
  display: flex;
  flex-direction: column;
}

.add-note--form .label-and-char--count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--deepest-orange);
  margin-bottom: 0.5rem;
}

.note-header--container label {
  font-size: 1.2rem;
}

.note-header--container input {
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: inherit;
  background-color: var(--almost-white);
  border: 2px solid var(--pale-orange);
  border-radius: 3px;
  transition: 0.3s ease;
  margin-bottom: 2rem;
  font-weight: 500;
}

.note-header--container input:focus {
  outline: red;
  border: 2px solid var(--orange);
}

.note-textarea-container textarea {
  width: 100% !important;
  resize: none;
  border: 2px solid var(--pale-orange);
  background-color: var(--almost-white);
  font-size: 1.1rem;
  font-family: inherit;
  text-transform: capitalize;
  padding: 0.3rem 0.5rem;
  transition: 0.3s ease;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 300;
}

.note-textarea-container textarea:focus {
  outline: red;
  border: 2px solid var(--orange);
}

.save-and-delete--btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.save-btn:disabled{
    cursor: not-allowed !important;
    background-color: #ff9860 !important;
}

.save-btn:disabled:hover{
    background-color: #ff9860 !important;
}

.save-btn.allow-save-btn{
    cursor: pointer !important;
}

.save-or-no--btns {
  background-color: var(--deep-orange) !important;
  border: none;
  padding: 0.6rem 2rem;
  font-size: 1.2rem !important;
  font-weight: 400;
  font-family: inherit;
  color: var(--almost-white);
  text-transform: capitalize;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  font-family: inherit;
}

.save-or-no--btns:hover {
  background-color: var(--deepest-orange) !important;
}

/* .save-and-delete--btns .delete-btn {
  background-color: inherit;
  border: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--deep-orange);
  cursor: pointer;
  font-weight: 400;
  font-family: inherit;
} */

/* OverLay */
#overlay,
#confirm-del-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #49494942;
  backdrop-filter: blur(1.8px);
  display: none;
  z-index: 2;
}

/* ConfiRM Dlete note */
.confirm-del {
  display: none;
}

.confirm-del-container {
  background-color: var(--almost-white);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 15%);
  padding: 1.6rem 1.8rem;
  border-radius: 8px;
  border: 5px solid var(--deepest-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.confirm-del h2 {
  margin: 0 0 1.8rem;
  font-weight: 100;
  color: var(--deepest-orange);
}

.confirm-del button {
  background-color: inherit;
  border: none;
  margin: 0 2rem;
}

.delete-or-yes--btns {
  color: var(--deep-orange);
  font-weight: 300;
  background-color: inherit;
  border: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: inherit;
}

.delete-or-yes--btns:hover {
  color: var(--deepest-orange);
}
/* 

